@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Titillium+Web:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@font-face {
	font-family: 'TuskerGrotesk-2600Semibold';
	src: url(cv-font/TuskerGrotesk-2600Semibold.ttf);
}

ul {
  list-style-type: none;
}

body{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #1a1a1a;
	color: #f5eee6;
}

/* HEADER */
header{
	color: #f5eee6;
}
.navbar{
	margin-left: 0%;
	margin-right: 0%;
	display: flex;
	gap: 45%;
	justify-content: center;
}
progress {
	display: flex;
    height: 1px;
    vertical-align: -0.2em;
    width: 98%;
    justify-content: center;
    align-content: center;
    flex-direction: row;
	margin-left: 20px;
	border: 2px;	
}
.name{
	display: flex;
    justify-content: center;
    align-items: center;
}
.name h2{
	display: flex;
	width: 100%;
	font-size: 15px;
}
#nom{
	display: flex;
	width: 150px;
	font-family: 'Abril Fatface', cursive;
}
#sous-titre{
	display: flex;
	width: 250px;
}
.navbar-sub{
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-size: 15px;
}
.navbar-sub ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
	padding-left: 0px;
}
.navbar-sub li{
	display: flex;
}
.nav-underline{
	border: 4px;
	border-color: aqua;
}

/* Main */
body{
	background: fixed;
	background-image: url(images-cv/bg---3.jpg);
	background-repeat: no-repeat;
	
}

/* Section Présentation */
.present{
	margin-left: 1%;
	margin-right: 1%;
	width: 98%;
    height: 100vh;
    position: relative;
	margin-top: 2%;
}
.box-subpresent{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.maintenace{
	font-family: 'TuskerGrotesk-2600Semibold';
	font-size: 12rem;
	text-transform: uppercase;
}
.maintenace h1{
	margin: 0px 0px 5px 0px;
	width: 954px;
    height: 405px;

}

.sub2-present {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
	width: 33%;
    height: 20%;
	text-transform: uppercase;
}
.sub2-present p{
	margin: 0;
	display: flex;
	text-align: justify;
	font-size: 1.875rem;
	line-height: 1.3333;
}
.button-28 {
	text-transform: uppercase;
  appearance: none;
  background-color: transparent;
  border: 2px solid #efefef;
  border-radius: 15px;
  box-sizing: border-box;
  color: #efefef;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #ef0e3b;
  background-color: #efefef;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

.projet{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%;
}
.box-projet-title{
	font-size: 1.5em;
	text-transform: uppercase;
}
.box-projet1{
	display: flex;
	justify-content: center;
	gap: 12px;
}
button.previs1 {
    margin:2rem
}

/* Mes projet */
.previs1 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #efefef;
  border-radius: 15px;
  box-sizing: border-box;
  color: #efefef;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.previs1:disabled {
  pointer-events: none;
}

.previs1:hover {
 	color: #ef0e3b;
	background-color: rgba(0, 0, 0, 0.65);
 	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
 	transform: translateY(-2px);
}

.previs1:active {
  box-shadow: none;
  transform: translateY(0);
}
.previs2 {
	appearance: none;
	background-color: transparent;
	border: 2px solid #efefef;
	border-radius: 15px;
	box-sizing: border-box;
	color: #efefef;
	cursor: pointer;
	display: inline-block;
	font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size: 16px;
	font-weight: 600;
	line-height: normal;
	margin: 0;
	min-height: 60px;
	min-width: 0;
	outline: none;
	padding: 16px 24px;
	text-align: center;
	text-decoration: none;
	transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: 100%;
	will-change: transform;
}
  
.previs2:disabled {
	pointer-events: none;
}
  
.previs2:hover {
	color: #ef0e3b;
	background-color: rgba(0, 0, 0, 0.65);
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
	transform: translateY(-2px);
}
  
.previs2:active {
	box-shadow: none;
	transform: translateY(0);
}
a:link{
	color: #efefef;
	text-decoration: none;
}
a:visited{
	color: #efefef;
	text-decoration: none;
}

.parcours{
	font-size: 1.5em;
	text-transform: uppercase;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%;
}
.box-information{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%;
	display: flex;
}
.box-information {
    width: 80%;
}
.boxbox{
	display: flex;
	flex-wrap: wrap;
	margin:-10px;
}
.boxbox>* {
    flex: 1 1 35%;
    background: #2e2e2e;
    box-shadow: 0px 0px 17px 4px rgb(0 0 0 / 5%);
    margin: 25px;
    border-radius: 50px;
}
.format, .xp, .skill, .info{
	margin: 40px;
}
.sub-format, .sub-xp,.sub-comp,.sub-info{
	text-align: center;
}
.sub-format ul{
	padding: 0%;
}
.sub-comp ul{
	padding: 0%;
}
.sub-info ul{
	padding: 0%;
}

#study01, #work01, #skill01, #contact01{
	width: 10%;
}

/* FOOTER */
footer{
	background-color: #f5eee6;
	color: #1a1a1a;
	max-height: 300px;
}
footer ul{
	margin: 0px;
}
.boxwarpper{
	margin-left: 15%;
	margin-right: 15%;
	display: flex;
    justify-content: space-evenly;
    align-items: center;
	flex-direction: column;
	height: 250px;
}

#roundsocial{
	width: 32px;
	height: 32px;
	background-color: #1a1a1a;
	border-radius: 10px;
}
.social-icone{
	display: flex;
}
.social-icone ul{
	display: flex;
	justify-content: space-around;
	gap: 20px;
}
.menu{
	display: flex;
}
.menu ul{
	display: flex;
    gap: 50px;
    text-transform: uppercase;
}