@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Titillium+Web:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
	font-family: 'TuskerGrotesk-2600Semibold';
	src: url(cv-font/TuskerGrotesk-2600Semibold.ttf);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}
ul {
  list-style-type: none;
}

body{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	/* background-image: url(images-test/pexels-pixabay-159862.jpg); */
	background: url(images-test/dfc0d8656b96a0b3fb72a83713b23c45.jpg) no-repeat fixed; 
	/* background: url(images-cv/bg---3.jpg) no-repeat fixed; */
	/* background: url(images-test/background-1.jpg) no-repeat fixed; */
}

header {
	position: sticky;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 11;
	color: hsl(180,1%,78%);
} 
#navbar-container {
	border-bottom: 1px solid #CFCFD0;
}
#scrollbar {
	width: 0%;
	height: 2px;
	background-color: #F3DBC7;
	background: linear-gradient(90deg, #dc08e3 0%, #3c017a 150%);
	position: sticky;
	left: 0;
	/*max-width: 98.30%;*/
	border-radius: 20px;
  }

header .active_nav {
    transition: 200ms cubic-bezier(0.67, 0.15, 0.77, 0.71);
    position: absolute;
    top: 0;
    bottom: 0;
}
.active_nav {
    position: absolute;
    background-color: rgba(19,19,19,.15);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    z-index: -1;
	width: 100%;
}
.active_nav .nav_links a,
.active_nav .logo {
    color: #ffffff;
}
.active_nav .nav_links a:hover {
    color: #fff;
}
.st0{
	fill:#d0d0d0;
}
svg#logo-nav {
    width: 50px;
	object-fit: cover;
    object-position: center;
}
span.svg_logo {
    display: flex;
    align-items: center;
}
.name{
	display: flex;
    justify-content: center;
    align-items: center;
	width: 460px;
}
.name h2{
	display: flex;
	width: 100%;
	font-size: 15px;
	margin: 2.5%;
}
#nom{
    font-family: 'Abril Fatface', cursive;
    color: #fbfafb;
}
#sous-titre{
	text-transform: uppercase;
}
.navbar-sub{
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 500;
}
.navbar-sub ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
	padding-left: 0px;
}
.navbar-sub li{
	display: flex;
}
.tut-animation-1 {
	transition: background-size .6s ease-out;
	background-image: linear-gradient(90deg, #dc08e3 0%, #3c017a 150%);
	background-repeat: no-repeat;
	background-position: 0% 100%;
	background-size: 0 10%;
  }
  .tut-animation-1:hover,
  .tut-animation-1--permanent {
	background-size: 100% 10%;
  }
#iconLinks a:hover {
	color: #dc08e3;
	transition: all 0.5s ease;
}


/*#############################################################
###############################################################
################ H O M E - S E C T I O N ######################
###############################################################
###############################################################
#############################################################*/
#home-page {
	background: linear-gradient(0deg,#121316,hsla(0,0%,7%,0),transparent);
	color: hsl(180,1%,78%);
}
#present{
    height: 92vh;
/* 	background-color: #F8B21C; */
/* 	background-color: rgba(19,19,19,.05); */
}

#number{
	font-family: 'Orbitron', sans-serif;
}
#dateAvailability {
	top: 13%;
	right: 20vw;
	display: flex;
	align-items: center;
	cursor: pointer;
	z-index: 4;
	height: 14%;
}
#number span{
	margin: 0;
	padding: 0;
}
#dateMoisAlt {
	font-size: 1.5em;
	font-family: 'Abril Fatface', cursive;
}
#boldFontHome {
	font-weight: 900;
	text-transform: uppercase;
}
#spinningProject {
	left: 29%;
	top: 67%;
}
#infoPresentText{
	font-family: 'Poppins', sans-serif;
}
#iconLinks {
	color: hsla(0, 0%, 100%, 0.4);
}

#btnContactDefilAuto:hover {
	background: hsla(0, 0%, 100%, 0.4);
	color: #121316;
	transition: all 0.5s;
}
iframe {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

/*#############################################################
###############################################################
################ A B O U T - S E C T I O N ######################
###############################################################
###############################################################
#############################################################*/

#aboutME {
	/* background-color: rgba(19,19,19,0.90); */
	/*height: 75vh;*/
	width: 100%;
	background: #121316;
	color: hsl(180,1%,78%);
}

#iconColorAbout {
	color: #A770FF;
}
#aboutContainer{
	padding-top: 10%;
}
#aboutText p{
	font-family: 'Poppins', sans-serif;
}

#iconCodeAbout{
	font-size: 2.5rem;
	color: hsla(0, 0%, 100%, 0.4);
}
#iconColorAbout:hover {
	color: #dc08e3;
	transition: all 0.5s ease;
}
#iconColorAbout{
	font-size: 2.5rem;
	color: hsla(0, 0%, 100%, 0.4);
}
img#importSVGLogo {
	color: hsla(0, 0%, 100%, 0.4);
}
/*#############################################################
###############################################################
################ PROJECT - S E C T I O N ######################
###############################################################
###############################################################
#############################################################*/
.projet {
	background-color: #121316;
	height: 150vh;
	color: hsl(180,1%,78%);
}
.fa-laptop-code{
	font-size: 2.5rem;
	color: hsla(0, 0%, 100%, 0.4);
}
#imgwarpper img {
	object-fit: cover;
	object-position: center;
}
#imgContainer {
	height: 20vh;
	width: 35vw;
}
#projectWarpper {
	margin: 4rem 0;
}
#fontSectionTitle {
	padding-bottom: 5%;
	font-size: 4rem;
	font-weight: 900;
}

.box-warpper-projet{
	padding: 10%;
}
#subTitleDescro span {
	color: hsla(0, 0%, 100%, 0.4);
}
#imgwarpper a {
	opacity: 0.5;

}
#imgwarpper a:hover {
	opacity: 1.5;
	transition: all 0.5s ease;
}


/*#############################################################
###############################################################
################ Contact - S E C T I O N ######################
###############################################################
###############################################################
#############################################################*/

.contact{
	background-color: #121316;
	height: 40vh;
	color: hsl(180,1%,78%);
}
.logoJJLcontact {
	fill: #CFCFD0;
}
#wapper_contact {
	margin-left: 10%;
    margin-right: 10%;
	display: flex;
}

#wapper_contact h2 {
	margin: 0;
	font-family: 'Poppins', sans-serif;
    color: hsl(180,1%,78%);
}
#iconContact {
	width: 2.5rem;
	color: hsla(0, 0%, 100%, 0.4);
}
i#contactLink {
	color: hsla(0, 0%, 100%, 0.4);
}
#iconMeContact iframe{
	position: relative;
	z-index: 4;
}
/*#############################################################
###############################################################
############ F O O T E R - S E C T I O N ######################
###############################################################
###############################################################
#############################################################*/
footer{
	background: url("images-cv/Arrière-plan-copie.png");
	box-shadow: #F5EEE6 1px 1px 1px 1px;
	max-height: 300px;
	font-family: 'Montserrat', sans-serif;
	color: hsl(180,1%,78%);
}
#containerFooter #backToTheTopCont{
	color: hsl(180,1%,78%);
}
#colorFontFooter{
	color: hsl(180,1%,78%);
}
#iconColorFooter{
	color: hsl(180,1%,78%);
}
#h2footerContact {
	font-family: 'Poppins', sans-serif;
	font-size: 1.6em;
}

/*#############################################################
###############################################################
############ Gradiant Background ######################
###############################################################
###############################################################
#############################################################*/



/*#############################################################
###############################################################
############ RESPONSIVE DESIGN ######################
###############################################################
###############################################################
#############################################################*/

/* Mobile styles */
@media only screen and (max-width: 767px) {
	/* Add mobile-specific styles here */
}