@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Titillium+Web:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
	font-family: 'TuskerGrotesk-2600Semibold';
	src: url(cv-font/TuskerGrotesk-2600Semibold.ttf);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
/* 	outline: solid 1px red; */
}

html {
	scroll-behavior: smooth;
}
ul {
  list-style-type: none;
}

body{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	color: #f5eee6;
	/* background-image: url(images-test/pexels-pixabay-159862.jpg); */
	background-size: cover;
	background: url(images-cv/bg---3.jpg) no-repeat fixed;
}

header {
	position: sticky;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 11;
} 
#navbar-container {
	border-bottom: 1px solid #F5EEE6;
}
#scrollbar {
	width: 0%;
	height: 2px;
	background-color: #F3DBC7;
	position: sticky;
	left: 0;
	max-width: 98.30%;
	border-radius: 20px;
  }

header .active_nav {
    transition: 200ms cubic-bezier(0.67, 0.15, 0.77, 0.71);
    position: absolute;
    top: 0;
    bottom: 0;
}
.active_nav {
    position: absolute;
    background-color: rgba(19,19,19,.15);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    z-index: -1;
	width: 100%;
}
.active_nav .nav_links a,
.active_nav .logo {
    color: #ffffff;
}
.active_nav .nav_links a:hover {
    color: #fff;
}
.st0{
	fill:#f5eee6;
}
svg#logo-nav {
    width: 50px;
	object-fit: cover;
    object-position: center;
}
span.svg_logo {
    display: flex;
    align-items: center;
}
.name{
	display: flex;
    justify-content: center;
    align-items: center;
	width: 460px;
}
.name h2{
	display: flex;
	width: 100%;
	font-size: 15px;
	margin: 2.5%;
}
#nom{
    font-family: 'Abril Fatface', cursive;
    color: #fbfafb;
}
#sous-titre{
	text-transform: uppercase;
}
.navbar-sub{
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 500;
}
.navbar-sub ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
	padding-left: 0px;
}
.navbar-sub li{
	display: flex;
}
.tut-animation-1 {
	transition: background-size .6s ease-out;
	background-image: linear-gradient(#e1b487, #e1b487);
	background-repeat: no-repeat;
	background-position: 0% 100%;
	background-size: 0 10%;
  }
  .tut-animation-1:hover,
  .tut-animation-1--permanent {
	background-size: 100% 10%;
  }



/*#############################################################
###############################################################
################ H O M E - S E C T I O N ######################
###############################################################
###############################################################
#############################################################*/

#present{
    height: 92vh;
/* 	background-color: #F8B21C; */
}
#home-page-title {
	font-weight: 900;
	font-size: 9.5rem;
}
#number{
	margin: 0;
	padding: 0;
	font-size: 9em;
	font-family: 'Orbitron', sans-serif;
}
#dateAvailability {
	top: 13%;
	right: 20vw;
	display: flex;
	align-items: center;
	cursor: pointer;
	z-index: 4;
	height: 14%;
}
#number span{
	margin: 0;
	padding: 0;
}
#dateMoisAlt {
	font-size: 1.5em;
	font-family: 'Abril Fatface', cursive;
}
#boldFontHome {
	font-weight: 900;
	text-transform: uppercase;
}
#spinningProject {
	left: 29%;
	top: 67%;
}
#infoPresentText{
	font-size: 1.2em;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
}
/*#############################################################
###############################################################
################ A B O U T - S E C T I O N ######################
###############################################################
###############################################################
#############################################################*/

#aboutME {
	background-color: #131313;
	height: 75vh;
	width: 100%;
}
#iconColorAbout {
	color: #fbfafb;
}
#aboutContainer{
	padding-top: 10%;
}
#aboutMeTitle h2{
	font-size: 3.5rem;
	font-weight: 900;
	line-height: 3.2rem;
}
#aboutMeTitle h6{
	font-size: 1.5em;
	text-transform: uppercase;
	font-family: 'Abril Fatface', cursive;
	color: #ef0e3b;
}
#aboutText p{
	font-size: 1.2em;
	font-family: 'Poppins', sans-serif;
}
#aboutTechno h2{
	font-size: 2.5rem;
	font-weight: 900;
	line-height: 3.2rem;
}
#iconCodeAbout{
	font-size: 2.5rem;
	color: #fbfafb;
}
#iconColorAbout{
	font-size: 2.5rem;
	color: #fbfafb;
}
/*#############################################################
###############################################################
################ PROJECT - S E C T I O N ######################
###############################################################
###############################################################
#############################################################*/
.projet {
	background-color: #131313;
	height: 150vh;
}
.fa-laptop-code{
	font-size: 2.5rem;
	color: #fbfafb;
}
#imgwarpper img {
	object-fit: cover;
	object-position: center;
}
#imgContainer {
	height: 20vh;
	width: 35vw;
}
#projectWarpper {
	margin: 4rem 0;
}
#fontSectionTitle {
	padding-bottom: 5%;
}

.box-warpper-projet{
	padding: 10%;
}

/*#############################################################
###############################################################
################ Contact - S E C T I O N ######################
###############################################################
###############################################################
#############################################################*/

.contact{
	background-color: #131313;
	height: 40vh;
}
#wapper_contact {
	margin-left: 10%;
    margin-right: 10%;
	display: flex;
}

#wapper_contact h2 {
	font-size: 2.1vw;
	margin: 0;
	font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: #F5EEE6;
	text-transform: uppercase;
}
#iconContact {
	width: 2.5rem;
}


/*#############################################################
###############################################################
############ F O O T E R - S E C T I O N ######################
###############################################################
###############################################################
#############################################################*/
footer{
	background-color: #f5eee6;
	color: #131313;
	max-height: 300px;
	font-family: 'Montserrat', sans-serif;
}
#containerFooter #backToTheTopCont{
	color: #131313;
}
#colorFontFooter{
	color: #131313;
}
#iconColorFooter{
	color: #131313;
}
#h2footerContact {
	font-family: 'Poppins', sans-serif;
	font-size: 1.6em;
}
/*#############################################################
###############################################################
############ RESPONSIVE DESIGN ######################
###############################################################
###############################################################
#############################################################*/

/* Mobile styles */
@media only screen and (max-width: 767px) {
	/* Add mobile-specific styles here */
}